# Ignore everything by default
*

# Keep Python source files
!*.py

# Keep folders so git can traverse them
!*/

# Optional: keep a few useful text/config files
!.gitignore
!README.md

!setup.py
!pyproject.toml
!*.yaml
!*.yml

